@font-face {
	font-family: 'VCR OSD Mono RUS+VHS icons';
	src: url('../fonts/vhs_style.ttf') format("truetype") , url('../fonts/vhs_style.woff') format("woff");
	font-style: normal;
}

body {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/background/bg_dark.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	font-family: 'VCR OSD Mono RUS+VHS icons', sans-serif;
	font-size: 28px;
	line-height: 1.0;
	text-align: center;
	color: #ffffff;
}
select {
	color: white;
}
select option {
  color: inherit;
  background-color: #000000;
}
button.back {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 20em;
  height: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #ffffff;
}
button.changer {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 15em;
  height: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #ffffff;
}
button.setting {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 1.5em;
  height: 1.5em;
  background: url('../img/img_lol/set_icon_white.png');
  background-size: cover;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  top: 10px; /* Задайте нужный вам верхний отступ */
  right: 10px; /* Задайте нужный вам правый отступ */
  width: 50px; /* Задайте ширину для квадратной кнопки */
  height: 50px; /* Задайте высоту для квадратной кнопки */
  border: none;
}

.modal {
    display: none; /* скрыть модальное окно по умолчанию */
    position: fixed; /* фиксированная позиция */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* полупрозрачный фон */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* центрирование */
    background-color: #000000;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 36px;
    font-weight: bold;
}

.close:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.table_week {
  width: 100%;
  border-collapse: collapse;
}

.time_week {
	font-size: 26px;
	color: #ffffff;
}
.name_obj_week {
	font-size: 20px;
	color: #ffffff;
}
.name_teach {
	font-size: 20px;
	color: #ffffff;
}
.numb_class {
	font-size: 24px;
	color: #ffffff;
}

td, th {
  border: 3px solid gray;
}

.tr_week_day {
	border: 5px solid gray;
}

.tr_obj_week {
	border: 4px solid gray;
}