
select {
  /* Reset */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 15em;
  height: 1.5em;
  padding: 0 4em 0 1em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */
  /* Remove focus outline */
  /* Remove IE arrow */
}

select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
